@import url('https://fonts.googleapis.com/css2?family=Krona+One&family=Montserrat&display=swap');

/* CSS (Cascading Style Sheets) 

   pega todos os elementos da pág*/
   * {
    margin: 0;
    padding: 0;
}



body {
    /* dentro da tag body */

    /* Imagem n vai sair do body
    Faz com que os elementos filhos se ajustem de acordo com o tamanho do elemento pai */
    box-sizing: border-box;

    height: 100vh;
    /* altura = 100vh = porção de área visível da tela */

    width: 100%;
    /* largura = 100% da tela */

    background: #000000;
    /* cor de fundo */

    color: lightpink;
    /* cor do texto */

}

.titulo-destaque,
i {
    color: #f8e8d4;
}

.apresentacao {
   
    margin: 10% 15%;

    display: flex;

    align-items: center;/* Alinhamento de itens no centro */

    justify-content: space-between; /* Espaço entre os elemntos */

}



img {
    object-fit:cover;
    /* Padroniza a imagem pra ela n ficar bugada, como?? */

    width:300px;
    /* largura */

    height: 200px;
    /* altura */
    
    /*     margin: auto;
    display: flex; */
} 

.apresentacao__conteudo{
    width: 615px;
    display:flex;
    flex-direction: column;
    gap: 12px;

}

.apresentacao__conteudo__titulo{
    font-size: 29px;
    font-family: 'Krona One', sans-serif;
}

.apresentacao__conteudo__texto{
    font-size: 14px;
    font-family: 'Montserrat', sans-serif;
}

.botao{ 
    
    background-color:#f8e8d4; /* cor de fundo do botão */

    width: 280px;

    text-align: center;

    border-radius: 16px; /* arredondamento */

    font-size: 16px; /* tamanho da fonte */

    padding: 5px;

    text-decoration: none;

    color: rgb(0, 0, 0); /* cor de texto do botão */

    font-family: 'Comic Sans MS', sans-serif; /* estilo da fonte */

}

.botao:hover{ /* Quando passar o mouse */

    background-color: white;
    
    transform: scale(1.2); /* aumenta-se a escala */
}

.apresentacao__links{
    display: flex;
    justify-content: space-between;
}