/* CSS (Cascading Style Sheets) 

   pega todos os elementos da pág*/
* {
    /* margin: 1; */
    margin: 0;
    padding: 0;
}


body {
    /* dentro da tag body */

    /* Imagem n vai sair do body
    Faz com que os elementos filhos se ajustem de acordo com o tamanho do elemento pai */
    box-sizing: border-box;

    height: 100vh;
    /* altura = 100vh = porção de área visível da tela */

    width: 100%;
    /* largura = 100% da tela */

    background: #000000;
    /* cor de fundo */

    color: lightpink;
    /* cor do texto */

    font-family: 'Comic Sans MS', sans-serif;
    /* estilo da fonte */

    font-size: 16px;
    /* tamanho da fonte */

    display: flex;

    /* line-height: 1.5; ? */

    /*  posicionar o texto à esquerda e a imagem à direita. */
    justify-content: center;

    /* centralizar os itens verticalmente no container */
    align-items: center;


    /* Deixar o site responsivo = */

    /* ajustar a direção dos itens */
    flex-direction: column;

    /* permitir que os itens se ajustem e mudem de linha conforme o tamanho da tela */
    flex-wrap: wrap;

}

.titulo-destaque,
i {
    color: #f8e8d4;
}

.apresentacao {
    align-items: center;
    /* Alinhamento de itens no centro */

    /*   justify-content: space-between; ?? */

}

p {
    text-align: justify;
    /* Justifica texto */
}

img {
    object-fit: cover;
    /* Padroniza a imagem pra ela n ficar bugada, como?? */

    width: 300px;
    /* largura */

    height: 200px;
    /* altura */
    
    /*     margin: auto;
    display: flex; */
}