@import url('https://fonts.googleapis.com/css2?family=Krona+One&family=Montserrat&display=swap');

:root{
    --cor-primaria:#000000;
    --cor-secundaria:#ffaece;
    --cor-terciaria:#f8e8d4;
    --cor-houver: white;

    --font-primaria: 'Monserrat', sans-serif;
    --font-secundaria: 'Krona One', sans-serif;
}

/* CSS (Cascading Style Sheets)*/
   * {
    margin: 0;
    padding: 0;
}

body {
    /* Imagem n vai sair do body
    Faz com que os elementos filhos se ajustem de acordo com o tamanho do elemento pai */
    box-sizing: border-box;
    background: var(--cor-primaria);
    color: var(--cor-secundaria);
}

.cabecalho{
    padding: 2% 0% 0% 15%;
}

.cabecalho__menu{
    display:flex;
    gap: 70px;
}

.cabecalho__menu__links, .nomeDoSite{
    font-family: var(--font-primaria);
    font-size: 16px;
    font-weight: 600;
    text-decoration: none;
    color:var(--cor-secundaria);
}

.cabecalho__menu__links:hover{
    transform: scale(1.2);
}

.apresentacao {
    padding: 6% 15% 8%  15%;
    display: flex;
    align-items: center;/* Alinhamento de itens no centro */
    justify-content: space-between; /* Espaço entre os elementos */
}

.apresentacao__conteudo{
    width: 615px;
    display:flex;
    flex-direction: column;
    gap: 12px; /*Espassamento entre os ítens*/
}

.apresentacao__conteudo__titulo{
    font-size: 29px;
    font-family: var(--font-secundaria);
}

.titulo-destaque {
    color: var(--cor-terciaria);
}

.apresentacao__conteudo__paragrafo{
    font-size: 14px;
    font-family: var(--font-primaria);
}

.apresentacao__conteudo__subtitulo{
    font-size: 18px;
    font-family: var(--font-secundaria);
    text-align: center; /*Alinhamneto do texto: centralizado*/
}

.apresentacao__conteudo__links{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.botao{ 
    display: flex;
    justify-content: center;
    gap: 16px;
    background-color:var(--cor-terciaria);
    width: 140px;
    text-align: center;
    border-radius: 16px; /* arredondamento */
    font-size: 18px; /* tamanho da fonte */
    padding: 8px;
    text-decoration: none;
    color: rgb(0, 0, 0); /* cor de texto do botão */
    font-family: 'Comic Sans MS', sans-serif; /* estilo da fonte */
}

.botao:hover{ /* Quando passar o mouse */
    background-color: var(--cor-houver);
    transform: scale(1.2); /* aumenta-se a escala */
}

.icon{
    height: 25px;
}

.anime {
    object-fit:cover;/* Padroniza a imagem pra ela n ficar bugada, como?? */
    margin: auto;
    height: 370px;
} 

.rodape{
    background-color: var(--cor-terciaria);
    color:#000000;
    text-align: center;
    padding: 18px;
    font-family: var(--font-primaria);
    font-size: 16px;
    font-weight: 600;
}

.tittle{
    font-size: 29px;
    font-family: var(--font-secundaria);
    color: var(--cor-terciaria);
}